
section
{
	clear: left;
	position: relative;
	padding: 20px;
	top: 50px;
}

#login
{
	border: 3px solid #500;
	width: 25%;
	height: 50%;
	border-radius: 50px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	
}

.logStyle
{
	padding: 20px;
}

#enterButton
{
	width: 200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	display: block;
	top: 25px;
}
